<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Checklist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="scann-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checklist</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let step of checklist;let i = index;" (click)="opencard(i)"
    [ngClass]="step.isopen ? 'active-card' : ''">
    <ion-card-content class="scan-card-list">
      <div class="content-div" [ngClass]="step.isopen ? 'active-border' : ''">
        <div class="badge-title">
          <p [ngClass]="step.isopen ? 'active-badge' : 'badge'">{{step.step}}</p>
          <p [ngClass]="step.isopen ? 'active-title' : 'title'">{{step.title}}</p>
        </div>
        <div class="arrow">
          <img [src]="step.isopen ? '../../assets/img/play.png' : '../../assets/img/play (1).png'">
        </div>
      </div>
      <div *ngIf="step.isopen" class="subdata-div">
        <ion-row>
          <ion-col size="6">
            <ion-card class="first-card">
              <ion-card-content>
                <p class="main-title">Sallary Dicleration</p>
                <p class="sub-text">Not Uploaded</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="sec-card">
              <ion-card-content>
                <p class="main-title">Alliments</p>
                <p class="sub-text">Not Uploaded</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-card class="third-card">
              <ion-card-content>
                <p class="main-title">Income Replacement Insurance</p>
                <p class="sub-text">Not Uploaded</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-content class="scan-card">
      <div class="image-div">
        <img src="../../assets/img/scanner.png">
      </div>
      <div class="menu-text">
        <p class="title">Scan Document</p>
        <p class="sub-text">Submit Text Document</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="tax-card">
      <div class="image-div">
        <img src="../../assets/img/tax.png">
      </div>
      <div class="menu-text">
        <p class="title">Calculate Tax Savings</p>
        <p class="sub-text">Don't Miss Out On Saving</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="list-card">
      <div class="image-div">
        <img src="../../assets/img/list.png">
      </div>
      <div class="menu-text">
        <p class="title">Check Listt</p>
        <p class="sub-text">Keep</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="changePage('/tabs/tabs/tab3')">
    <ion-card-content class="profile-card">
      <div class="image-div">
        <img src="../../assets/img/user.png">
      </div>
      <div class="menu-text">
        <p class="title">My Profile</p>
        <p class="sub-text">Who are You?</p>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>