
.custom-tab{
    ion-tab-bar{
        ion-tab-button{
            color: black;
            margin: 0 10px 0 10px;
            border-radius: 5px;
            img{
                width: 20px;
            }
            ion-label{
                font-size: 13px;
            }
        }
    }
}

.active-tab{
    background-color: #319ed9;
    color: white !important;
}