<ion-tabs class="custom-tab">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [ngClass]="listtab ? 'active-tab' : ''" (click)="activetab('list')">
      <img [src]="listtab ? '../../assets/img/list (2).png' : '../../assets/img/list (1).png'">
      <ion-label>Check List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [ngClass]="calculatetab ? 'active-tab' : ''" (click)="activetab('cal')">
      <img [src]="calculatetab ? '../../assets/img/calculator (1).png' : '../../assets/img/calculator.png'">
      <ion-label>Calculate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [ngClass]="profiletab ? 'active-tab' : ''" (click)="activetab('profile')">
      <img [src]="profiletab ? '../../assets/img/user (2).png' : '../../assets/img/user black.png'">
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" [ngClass]="settingtab ? 'active-tab' : ''" (click)="activetab('setting')">
      <img [src]="settingtab ? '../../assets/img/settings (1).png' : '../../assets/img/settings.png'">
      <ion-label>Seetings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>