    /*
    Flaticon icon font: Flaticon
    Creation date: 15/02/2020 16:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-write:before { content: "\f100"; }
.flaticon-male:before { content: "\f101"; }
.flaticon-family:before { content: "\f102"; }
.flaticon-percentage:before { content: "\f103"; }
.flaticon-taxes:before { content: "\f104"; }
.flaticon-accounting:before { content: "\f105"; }
.flaticon-check-list:before { content: "\f106"; }
.flaticon-appointment:before { content: "\f107"; }
.flaticon-download:before { content: "\f108"; }
.flaticon-text:before { content: "\f109"; }
.flaticon-qr-code:before { content: "\f10a"; }
    
    $font-Flaticon-write: "\f100";
    $font-Flaticon-male: "\f101";
    $font-Flaticon-family: "\f102";
    $font-Flaticon-percentage: "\f103";
    $font-Flaticon-taxes: "\f104";
    $font-Flaticon-accounting: "\f105";
    $font-Flaticon-check-list: "\f106";
    $font-Flaticon-appointment: "\f107";
    $font-Flaticon-download: "\f108";
    $font-Flaticon-text: "\f109";
    $font-Flaticon-qr-code: "\f10a";