	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/02/2020 16:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-write:before { content: "\f100"; }
.flaticon-male:before { content: "\f101"; }
.flaticon-family:before { content: "\f102"; }
.flaticon-percentage:before { content: "\f103"; }
.flaticon-taxes:before { content: "\f104"; }
.flaticon-accounting:before { content: "\f105"; }
.flaticon-check-list:before { content: "\f106"; }
.flaticon-appointment:before { content: "\f107"; }
.flaticon-download:before { content: "\f108"; }
.flaticon-text:before { content: "\f109"; }
.flaticon-qr-code:before { content: "\f10a"; }