<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dashboard-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content class="scan-card" (click)="changePage('/scanndocument')">
      <div class="image-div">
        <img src="../../assets/img/scanner.png">
      </div>
      <div class="menu-text">
        <p class="title">Scan Document</p>
        <p class="sub-text">Submit Text Document</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="tax-card">
      <div class="image-div">
        <img src="../../assets/img/tax.png">
      </div>
      <div class="menu-text">
        <p class="title">Calculate Tax Savings</p>
        <p class="sub-text">Don't Miss Out On Saving</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="changePage('/checklist')">
    <ion-card-content class="list-card">
      <div class="image-div">
        <img src="../../assets/img/list.png">
      </div>
      <div class="menu-text">
        <p class="title">Check Listt</p>
        <p class="sub-text">Keep</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="changePage('/tabs/tabs/tab3')">
    <ion-card-content class="profile-card">
      <div class="image-div">
        <img src="../../assets/img/user.png">
      </div>
      <div class="menu-text">
        <p class="title">My Profile</p>
        <p class="sub-text">Who are You?</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>