ion-content ion-toolbar {
  --background: translucent;
}
.dashboard-content {
  ion-card {
    margin: 15px 15px;
    .scan-card {
      display: flex;
      align-items: center;
      .image-div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #baddcc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        img {
          width: 25px;
          height: 25px;
        }
      }
      .menu-text {
        .title {
          font-size: 16px;
          color: black;
          font-weight: 700;
        }
        .sub-text {
          color: black;
        }
      }
    }
    .tax-card {
      display: flex;
      align-items: center;
      .image-div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #f8e2b0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        img {
          width: 25px;
          height: 25px;
        }
      }
      .menu-text {
        .title {
          font-size: 16px;
          color: black;
          font-weight: 700;
        }
        .sub-text {
          color: black;
        }
      }
    }
    .list-card {
      display: flex;
      align-items: center;
      .image-div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #cae7f0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        img {
          width: 25px;
          height: 25px;
        }
      }
      .menu-text {
        .title {
          font-size: 16px;
          color: black;
          font-weight: 700;
        }
        .sub-text {
          color: black;
        }
      }
    }
    .profile-card {
      display: flex;
      align-items: center;
      .image-div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #f7d3f3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        img {
          width: 25px;
          height: 25px;
        }
      }
      .menu-text {
        .title {
          font-size: 16px;
          color: black;
          font-weight: 700;
        }
        .sub-text {
          color: black;
        }
      }
    }
  }
}
