<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="signup-content">
    <p class="app-title"><span>Mein Profil</span></p>
    <div class="signup-formdiv">
      <div class="form">
        <div class="profile-div">
          <img src="../../assets/img/user (1).png">
        </div>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <div class="scan-btn">
          <ion-button>Bearbeiten</ion-button>
        </div>
      </div>
    </div>
  </ion-content>
