.menu-header {
  p {
    padding: 25px 20px;
    border-bottom: 1px solid lightgray;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    img {
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
    .first-title {
      color: #2f3845;
    }
    .second-title {
      color: #42a0d7;
    }
  }
}
.menu-type {
  margin-left: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 15px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.menu-active {
  --background: #319ed9;
  color: white;
  margin-left: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
