.signup-content {
  --background: #319ed9;
  .app-title {
    padding-left: 25px;
    display: flex;
    align-items: baseline;
    margin: 40px 0;
    img {
      width: 40px;
      margin-right: 12px;
    }
    span {
      color: white;
      font-weight: 700;
      letter-spacing: 5px;
      font-size: 28px;
    }
  }
  .signup-formdiv {
    background-color: white;
    height: 100%;
    border-top-left-radius: 55px;
    .title-text {
      padding: 30px 0px 0px 35px;
      font-size: 25px;
      font-weight: 700;
      margin: 0;
    }
    .form {
      padding: 0 30px 0 15px;
      ion-item {
        .item-native {
          padding: 0 !important;
        }
        ion-label {
          font-size: 15px;
          color: lightgray;
        }
        ion-input {
          font-size: 15px;
        }
      }
      .create-btn {
        text-align: center;
        margin: 15px 0 15px 0px;
        ion-button {
          --background: transparent;
          color: #319ed9;
          border: 1px solid #319ed9;
          border-radius: 8px;
          width: 96%;
          margin: 0 0px 0 16px;
        }
      }
      .scan-btn {
        text-align: center;
        margin: 15px 0 15px 0px;
        ion-button {
          --background: #319ed9;
          width: 100%;
          padding: 0 0px 0 16px;
          img {
            width: 22px;
            height: 22px;
            margin-right: 11px;
          }
        }
      }
    }
  }
}
