<ion-content [fullscreen]="true" class="signup-content">
  <p class="app-title"><img src="../../assets/img/icon.png"><span>FINVERSA</span></p>
  <div class="signup-formdiv">
    <p class="title-text">Sign Up</p>
    <div class="form">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Zip Code</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="create-btn">
        <ion-button (click)="signup()">Create</ion-button>
      </div>
      <div class="scan-btn">
        <ion-button><img src="../../assets/img/scan.png"><span>Scan</span></ion-button>
      </div>
    </div>
  </div>
</ion-content>