ion-content ion-toolbar {
  --background: translucent;
}
.scann-content {
  ion-card {
    background-color: #319ed9;
    margin: 15px 15px;
    .scan-card-list {
      padding: 0;
      .content-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 10px;
      }
      .badge-title {
        display: flex;
        align-items: center;
        .badge {
          width: 20px;
          height: 20px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          margin-right: 6px;
        }
        .title {
          color: white;
        }
      }
      .arrow {
        img {
          width: 15px;
        }
      }
    }
  }
}
.active-card {
  background-color: transparent !important;
  border: 1px solid lightgray;
}
.active-border {
  border-bottom: 1px solid lightgray;
}
.subdata-div {
  padding: 6px 10px;
  ion-row {
    ion-col {
      ion-card {
        margin: 0;
        box-shadow: none;
        ion-card-content {
          .main-title {
            font-size: 15px;
            font-weight: 700;
            color: black;
          }
          .sub-text {
            font-size: 14px;
          }
        }
      }
      .first-card {
        background-color: #f0f9f4;
      }
      .sec-card {
        background-color: #fff4de;
      }
      .third-card {
        background-color: #ffe9fb;
      }
    }
  }
}
.active-badge {
  width: 20px;
  height: 20px;
  background-color: #e8f2fb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 6px;
  color: #319ed9;
}
.active-title {
  color: black;
}